body{
  
    background-color: rgb(245, 83, 74);
    padding:80px;}
.card{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    padding: 45px;
    margin-top: 60px;
    border-radius:20px;
    background:
    url("./img/bell.png") bottom repeat-x,
    url("./img/bell.png") left repeat-y,
    url("./img/bell.png") right repeat-y,
    rgb(233, 6, 6);
    background-size: 60px 60px;
    z-index: -1;
  
}
.home{
   display:flex;
    justify-content: space-between;
    align-items: center;           
    
}
.butn{
    font-size: 35px;
    font-weight: bolder;
    background-color: rgb(28, 128, 10);
    text-align: center;
    color:rgb(238, 192, 10);
     padding:10px;
    border-radius: 22px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.img{
    
    border-radius: 15px;
    margin:auto;
    width:fit-content;
}
.intro{
    font-size: 30px;
    font-weight: 600;
    color: rgb(248, 170, 133);
    font-family:cursive;
    text-align: center;

}
ul,ol{
    font-size:30px;
    color: aliceblue;
}
li{
    margin:15px;
    color :white;
    font-size: 20px;
}
.o li{
 font-size: 25px;
 font-weight: bold;
 padding:10px 0 10px 0;
 color: beige;
 width:fit-content;
margin-bottom:25px;
 
}
a{  color: rgb(28, 128, 10);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding:10px;
}
a:hover{
    color: rgb(26, 246, 121);
}

.hb{
    font-size: 35px;
    font-weight: bolder;
    background-color: rgb(28, 128, 10);
    text-align: center;
    color:rgb(238, 192, 10);
    width: fit-content;
    padding:10px;
    margin-bottom: 40px;
    border-radius: 22px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.m{
    font-weight: bold;
    font-size: 50px;
    color: darkgreen;
text-shadow: 0 0 5px red;}
#a1{
    text-align: center;
    padding:20px;
    color: beige;
    margin:auto;
    border-radius: 12px;
    background-color: rgb(17, 6, 6);
}
.content{
   
    padding: 20px;
    margin:10px;
}
.s{display:inline-block;}
